<?php

define( 'AUTH', base64_encode( 'zoneid_username:zoneid_api_token' ) );

define( 'DOMAIN', 'example.com' );

define( 'SUBDOMAINS', array( 'secretkey1' => 'subdomain1', 'secretkey2' => 'subdomain2' ) );
